In [53]:
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing

In [37]:
company=pd.read_csv("Company_Data (1).csv")
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [38]:
label_encoder=preprocessing.LabelEncoder()
x=company["ShelveLoc"]=label_encoder.fit_transform(company['ShelveLoc'])
x=company["Urban"]=label_encoder.fit_transform(company['Urban'])
x=company["US"]=label_encoder.fit_transform(company['US'])

In [39]:
daf=pd.DataFrame(company.Sales)
daf.loc[company['Sales']<=8,'good sale or not']='NOT'
daf.loc[company['Sales']>8,'good sale or not']='GOOD SALE'
z=daf
z

     Sales good sale or not
0     9.50        GOOD SALE
1    11.22        GOOD SALE
2    10.06        GOOD SALE
3     7.40              NOT
4     4.15              NOT
..     ...              ...
395  12.57        GOOD SALE
396   6.14              NOT
397   7.41              NOT
398   5.94              NOT
399   9.71        GOOD SALE

[400 rows x 2 columns]

In [40]:
company.insert(11, "Sales_status",z['good sale or not'])

In [41]:
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,Sales_status
0,9.50,138,73,11,276,120,0,42,17,1,1,GOOD SALE
1,11.22,111,48,16,260,83,1,65,10,1,1,GOOD SALE
2,10.06,113,35,10,269,80,2,59,12,1,1,GOOD SALE
3,7.40,117,100,4,466,97,2,55,14,1,1,NOT
4,4.15,141,64,3,340,128,0,38,13,1,0,NOT
...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,1,33,14,1,1,GOOD SALE
396,6.14,139,23,3,37,120,2,55,11,0,1,NOT
397,7.41,162,26,12,368,159,2,40,18,1,1,NOT
398,5.94,100,79,7,284,95,0,50,12,1,1,NOT
399,9.71,134,37,0,27,120,1,49,16,1,1,GOOD SALE

In [42]:
A=company['Sales_status']=label_encoder.fit_transform(company['Sales_status'])

In [43]:
x=company.iloc[:,1:11]
y=company['Sales_status']

In [44]:
x

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,138,73,11,276,120,0,42,17,1,1
1,111,48,16,260,83,1,65,10,1,1
2,113,35,10,269,80,2,59,12,1,1
3,117,100,4,466,97,2,55,14,1,1
4,141,64,3,340,128,0,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,1,33,14,1,1
396,139,23,3,37,120,2,55,11,0,1
397,162,26,12,368,159,2,40,18,1,1
398,100,79,7,284,95,0,50,12,1,1
399,134,37,0,27,120,1,49,16,1,1

In [45]:
y

0      0
1      0
2      0
3      1
4      1
      ..
395    0
396    1
397    1
398    1
399    0
Name: Sales_status, Length: 400, dtype: int32

In [54]:
array=company.values
X=array[:,1:11]
Y=array[:,11]

In [47]:
X

array([[138.,  73.,  11., ...,  17.,   1.,   1.],
       [111.,  48.,  16., ...,  10.,   1.,   1.],
       [113.,  35.,  10., ...,  12.,   1.,   1.],
       ...,
       [162.,  26.,  12., ...,  18.,   1.,   1.],
       [100.,  79.,   7., ...,  12.,   1.,   1.],
       [134.,  37.,   0., ...,  16.,   1.,   1.]])

In [48]:
Y

array([0., 0., 0., 1., 1., 0., 1., 0., 1., 1., 0., 0., 1., 0., 0., 0., 1.,
       0., 0., 0., 1., 0., 1., 1., 0., 0., 0., 1., 1., 1., 0., 0., 1., 0.,
       1., 0., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 1., 1., 0., 1.,
       1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 1., 1., 0., 1., 1., 0., 0.,
       0., 1., 0., 1., 1., 0., 1., 0., 0., 1., 1., 0., 0., 1., 0., 1., 1.,
       0., 0., 0., 1., 1., 1., 1., 1., 0., 0., 1., 0., 1., 0., 1., 1., 1.,
       1., 1., 1., 1., 1., 0., 1., 0., 0., 1., 1., 1., 0., 0., 1., 0., 1.,
       1., 1., 0., 1., 0., 0., 0., 0., 1., 1., 1., 0., 1., 0., 1., 1., 1.,
       1., 1., 0., 0., 1., 1., 1., 1., 0., 0., 1., 0., 1., 0., 0., 0., 1.,
       1., 1., 1., 1., 0., 0., 0., 1., 1., 1., 1., 0., 1., 1., 1., 1., 0.,
       0., 0., 0., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 0., 0., 0.,
       1., 0., 0., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       0., 1., 1., 0., 1., 1., 1., 0., 0., 0., 1., 1., 1., 1., 0., 0., 0.,
       1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0.,
       1., 1., 0., 0., 1., 1., 0., 0., 1., 1., 1., 1., 0., 1., 0., 1., 0.,
       1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 1.,
       0., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1.,
       0., 0., 1., 0., 0., 0., 1., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0.,
       1., 1., 0., 0., 0., 1., 1., 0., 1., 1., 0., 1., 0., 1., 1., 1., 0.,
       0., 1., 0., 1., 1., 1., 0., 1., 0., 1., 1., 1., 1., 1., 0., 1., 0.,
       1., 1., 1., 1., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 1.,
       0., 1., 1., 0., 0., 1., 0., 0., 1., 1., 0., 0., 0., 1., 0., 1., 1.,
       0., 1., 0., 1., 1., 1., 0., 1., 1., 0., 0., 1., 1., 0., 0., 0., 1.,
       1., 1., 1., 1., 0., 1., 1., 1., 0.])

In [57]:
num_trees=100
max_features=4
kfold=KFold(n_splits=10,random_state=7)
model=RandomForestClassifier(n_estimators=num_trees,max_features=max_features)
results=cross_val_score(model,X,Y,cv=kfold)
print(results.mean())

C:\Users\ADMIN\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(

0.8025

In [58]:
from sklearn.tree import DecisionTreeClassifier
array=company.values
X=array[:,1:11]
Y=array[:,11]
model=DecisionTreeClassifier()
model.fit(X,Y)
print(model.feature_importances_)

[0.11327238 0.08056656 0.15746158 0.06151796 0.27815622 0.15996244
 0.10254511 0.02960835 0.         0.0169094 ]